@charset "UTF-8";
#main {
	background-color:#ffffff;
}

#logo {
	margin-left:15%;
	margin-top:3%;
	
}

#footer {
	
	background-color:#76D6E4;
}

#fronttext {
	margin-left:8%;
	margin-right:8%;
}

nav {
list-style-type: none; 
display:inherit;
width: 100%; 
}

nav ul {
background-color: white;
overflow: hidden; 
color: black; 
padding: 0;
text-align: center; 
margin: 0; 
}

nav ul li {
display: inline-block; 
padding: 20px; 
}

@media screen and (max-width: 580px){
box-sizing: border-box; 
width: 100%; 
padding: 15px; 
}

body {
background-color: white; 
}

#navbar{
background-color: white; 
height:100px; 
width:100%; 
align-items: center;
}

#banner {
height:500px;
width: 100%; 
}

#banner1 {
max-width: 100%;
height: auto;

}

#image {
width:20%;
height:auto;
float:left; 
padding: 10px 0px 10px 0px; 
 
}

#navpic {
height: auto; 
width:auto;
float: right;
}

body {
margin: 0;
padding: 0; 
}